.App {
  text-align: center;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Regular.ttf");
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #47ba81;
}

.main {
  width: 1075px;
  margin: 40px auto;
  display: grid;
  gap: 25px;
  grid-template-columns: 525px 1fr;
  grid-template-rows: 30px 350px 350px;
  grid-template-areas:
        "A E"
        "B C"
        "B D";
}

.to-do {
  grid-area: A;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: right;
  color: #FFFFFF;
}

.now {
  grid-area: E;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  color: #FFFFFF;
}

.task-list {
  grid-area: B;
  background: #FFA800;
  border-radius: 18px;
  overflow: auto;
}
.task-list::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.task-list-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin: 20px;
}

.task-lines {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.task-list-line {
  margin-bottom: -5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  align-items: flex-end
}

.hr-line {
  position: relative;
  width: 400px;
  border: 1px solid #000000;
}

.task-line-text {
  resize: none;
  background: #FFA800;
  border: none;

  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #DC1C1C;
}

.TaskComponent {
  grid-area: C;
  background: #FFA800;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}

.TaskComponentButton {
  flex: 1 0 15%;
  border: none;
  background-color: transparent;
  background-image: url("checkBox.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.TaskComponentDeleteButton {
  flex: 1 0 45%;
  border: none;
  background-color: transparent;
  background-image: url("rectangle.png");
  background-size: 70px;
  width: 70px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Inter', serif;
  font-weight: 700;
  font-size: 20px;

}
.ButtonBar {
  display: flex;
  width: 100%;
}

.TaskTextElement {
  flex: 1 0 100%;
  resize: none;
  border: 0;
  background-color: transparent;
  padding-left: 20px;
  overflow: hidden;
}

.TaskTextElement:focus {
  outline: none;
}
.task-name-title {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.task-description {
  resize: none;
  background: transparent;
  border: none;
  width: 450px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  height: 60%;
  color: #000000;
  outline: none;
}
.task-description::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.NoteComponent {
  grid-area: D;
  background: #FFA800;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-end;
  row-gap: 15px;
}

.NoteComponentName {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  flex: 0 1 50%;
}

.Note {
  resize: none;
  width: 450px;
  background: transparent;
  border: 0px;
  height: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.Note::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.Note:focus {
  outline: none;

}
.NoteButton {
  font-style: normal;
  border: 0;
  font-size: 2em;
  background-color: transparent;
  text-align: center;
  color: #FFFFFF;
}
.NoteButton:disabled {
  color: gray;
}
.deleteButton {
  border: none;
  background-color: transparent;
}
.deleteButton:disabled {
  visibility: hidden;
}
.deleteImage {
  width: 30px;
}
.doneButton {
  border: none;
  background-color: transparent;
  background-image: url("checkBox.png");
  background-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}
.doneButton:disabled {
  visibility: hidden;
}
.doneImage {
  width: 30px;
}
.doneElementImage {
  width: 35px;
}
.doneToCompleteElementImage {
  width: 35px;
  opacity: 0.5;
}
.crossElementImage {
  width: 35px;
}
.dotsElementImage {
  width: 35px;
}

